@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color:white;
}

h1 {
  text-align: center;
}
/*
.url {
  position: fixed;
  top: 200px;
  right: 0;
  width: 200px;
  height: 100px;
} */

.header {
  font-size: 100px;
  text-align: center;
  display: block
}


.pill {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  width: 10%;
  position: relative;
  display: inline-table;
  padding: 14px;

}

.pill:hover {
  background-color: #ddd;
  color: black;
}